
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333446;
    color: white;
}

.right-navbar p{
    position: relative;
    cursor: pointer;
}

.right-navbar p span{
   position: absolute;
   right: -10px;
   top: -10px;
   width: 15px;
   height: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: white;
   color: black;
   font-size: 0.8rem;
}