.cart-item{
    width: 100%;
    color: black;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.item-name{
  width: 50%;
 
}

.item-quatity{
  width: 30%;

}

.price{
  width: 20%;
text-align: center;
}
.remove-item{
  color: black;
  cursor: pointer;
}